.signInContainer {
  left: 0;
  width: 50%;
  z-index: 2;
}
.succesSpanLogin {
  position: absolute;
  bottom: 100px;
}
.loadingSpanLogin {
  position: absolute;
  bottom: 100px;
}

@media (max-width: 550px) {
  #signUpButton {
    font-size: 10px;
    padding: 0;
    width: 100%;
    height: 25px;
  }
}
