#location {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

#articleLocations {
  position: relative;
  width: var(--width-standard);
  top: 50svh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background-color: var(--color-bg);
  z-index: 1;
}
#articleLocations h2 {
  width: 100%;
  font-size: clamp(1rem, 3vw, var(--font-size-lg));
  border-bottom: 1px solid var(--color-separator);
  padding-bottom: 20px;
}

#locationsDiv {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skeleton {
  width: 30%;
  height: 70%;
  margin: 1%;
  border-radius: var(--radius-md);
  background-color: #e2e8f0;
  animation: skeletonAnimation 1s infinite;
}

@keyframes skeletonAnimation {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.3;
  }
}

@media (max-width: 470px) {
  #citiesDiv {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
}
