.divLoading {
  width: 100%;
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.formLoading {
  width: 100%;
  display: flex;
  position: relative;
  top: -10px;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.spinner {
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
