#editLocationAdminArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.backgroundEditLocationAdminArea {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100svh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  isolation: isolate;
  z-index: 0;
}

#articleEditLocationAdminArea {
  position: relative;
  width: var(--width-standard);
  top: 50svh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background-color: var(--color-bg);
  z-index: 1;
}
