header {
  height: 10svh;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-nav);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.logoNavLink {
  width: 100px;
}
.logoNavLink img {
  width: 90%;
}

.profileHeader {
  height: 100%;
  padding-right: 15px;
  width: 20vw;
  background-color: rgba(255, 255, 255, 0.404);
  border: none;
  cursor: pointer;
}
.profileHeader > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#divImgProfile {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin: 0px 10px;
  overflow: hidden;
}
#divImgProfile > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profileHeader > div > h3 {
  font-size: 0.85rem;
  text-transform: uppercase;
}

#burgerMenu {
  pointer-events: none;
  display: none;
}
#headerUl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
#headerUl li {
  height: 100%;
}

header a {
  height: 100%;
  display: flex;
  padding: 0 10px 0 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  color: var(--color-separator);
  transition: var(--transition-fast);
}

header a:hover {
  color: var(--color-surface);
}
.loginHeader {
  background-color: transparent;
  height: 100%;
  display: flex;
  padding: 0 10px 0 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  color: var(--color-separator);
  transition: var(--transition-fast);
}

.loginHeader:hover {
  color: var(--color-surface);
}
nav {
  display: flex;
}

.profile {
  background-color: var(--color-profileMenu);
  width: 20vw;
}
.profile a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile a div {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-max);
  overflow: hidden;
}

.profile a img {
  width: 100%;
  padding: 0;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media (max-width: 780px) {
  header {
    justify-content: space-around;
  }

  header a {
    font-size: 10px;
  }
  .loginHeader {
    font-size: 10px;
  }
  .profileHeader {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profileHeader > div {
    width: 100%;
  }

  .profileHeader > div > h3 {
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  header {
    justify-content: space-between;
  }
  #headerUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    top: 0vh;
    opacity: 0;
    width: 98%;
    position: absolute;
    left: 1%;
    background-color: var(--color-button-pressed);
    padding: 1vh 0;
    border-radius: var(--radius-xs);
    transition: var(--transition-normal);
    z-index: -10;
    pointer-events: none;
  }

  #headerUl.active {
    top: 10vh;
    opacity: 1;
    pointer-events: all;
  }
  #headerUl li {
    height: 100%;
    width: 100%;
  }

  header a {
    font-size: 17px;
    transition: var(--transition-fast);
  }

  #burgerMenu {
    position: absolute;
    top: 2.5vh;
    right: 2vh;
    width: 50px;
    height: 50px;
    display: flex;
    pointer-events: all;
    cursor: pointer;
  }
  #burgerMenu img {
    width: 100%;
  }
  .profileHeader {
    background-color: rgba(255, 255, 255, 0.363);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    display: flex;
  }
  .profileHeader:hover {
    background-color: rgba(255, 255, 255, 0.685);
    width: 100%;
  }
  .profileHeader > div {
    width: 100%;
    height: 100%;
  }
  .loginHeader {
    font-size: 17px;
    width: 100%;
    height: 100%;
  }
}
