.searchBar {
  position: relative;
  margin-bottom: 50px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: var(--color-surface);
  height: 60px;
  border-radius: var(--radius-max);
  padding: 10px;
  transition: var(--transition-normal);
  box-shadow: var(--shadow-md);
}

.searchBar:hover {
  box-shadow: var(--shadow-md);
  border: none;
}

.searchBar:hover > .searchInput {
  width: 50vw;
  padding: 0 6px;
}

.searchInput:focus {
  width: 50vw;
  padding: 0 6px;
}

.searchBar:hover > .searchButton {
  background-color: var(--color-primary);
  border: var(--color-primary);
  cursor: pointer;
}

.searchButton {
  color: var(--color-text);
  float: right;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-lightborder-dark);
  border-radius: var(--radius-max);
  background: var(--color-surface);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: var(--color-text);
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.searchIcon {
  width: 150%;
}

@media screen and (max-width: 620px) {
  .searchBar:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
