#updateInfoForm {
  width: var(--width-standard);
}

#accountHeader {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-separator);
  gap: 0;
}
#accountHeader h3 {
  text-align: start;
  font-size: clamp(1rem, 6vw, var(--font-size-md));
  width: 100%;
}
.backButton {
  width: 20%;
  background-color: var(--color-nav);
  color: var(--color-bg);
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition-fast);
  opacity: 0.7;
  justify-content: end;
}
.backButton:hover {
  opacity: 1;
}

#accountInfo {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

#accountInfo input {
  height: 40px;
  padding-left: 10px;
  border: 0.5px solid var(--color-separator);
  border-radius: var(--radius-xs);
}
#accountInfo select {
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: var(--radius-xs);
}
.row_element {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.formName {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 30%;
}

.formName label {
  width: 100%;
  margin-bottom: 10px;
}

.row_element:nth-child(2) {
  justify-content: space-between;
  gap: 0;
}

.nickName {
  width: 100%;
}
.formLocation:nth-child(1) {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 30%;
}
.formLocation:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 65%;
}

.formLocation label {
  width: 100%;
  margin-bottom: 10px;
}

.formEmail {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
}
.formEmail label {
  width: 100%;
  margin-bottom: 10px;
}

.formBirth {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 40%;
}

.formBirth label {
  width: 100%;
  margin-bottom: 10px;
}
.formGender {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 40%;
}
.formGender label {
  width: 100%;
  margin-bottom: 10px;
}
.formPassword label {
  width: 100%;
  margin-bottom: 10px;
}
.formPassword {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 45%;
}
.formRole label {
  width: 100%;
  margin-bottom: 10px;
}
.formRole {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 45%;
}

#profileImgDiv {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid var(--color-separator);
  border-bottom: 1px solid var(--color-separator);
  justify-content: start;
}
#profileImgDiv img {
  width: 30%;
  border-radius: var(--radius-md);
}
#profileImgDiv div {
  width: 100%;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}
#profileImgDiv div label {
  width: 100%;
  margin-bottom: 20px;
}

#profileImgDiv div input {
  display: flex;
}
#profileImgDiv div input[type='file']::file-selector-button {
  background-color: var(--color-nav);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition-fast);
  opacity: 0.5;
}

#profileImgDiv div input[type='file']::file-selector-button:hover {
  background-color: var(--color-nav);
  opacity: 1;
}
#endForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#formMessagesDiv {
  width: 40%;
  display: flex;
  justify-content: start;
}
#loadingIconDiv {
  position: relative;
  top: -12px;
  right: -140px;
}
#saveButtonDiv {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
.saveChangesButton {
  width: 60%;
  background-color: var(--color-primary);
  color: var(--color-bg);
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition-fast);
  opacity: 0.7;
  justify-content: end;
}
.saveChangesButton:hover {
  opacity: 1;
}

.errorMessageProfile {
  width: 100%;
  text-align: justify;
  color: var(--color-text-errorMessage);
  font-size: var(--font-size-xs);
}
.successMessageProfile {
  font-size: var(--font-size-xs);
  width: 65%;
}

.deleteConfirmation {
  background-color: var(--color-red-alert);
  position: fixed;
  top: 50%;
  left: 37%;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: var(--radius-xs);
  z-index: 3;
}
.deleteConfirmation h3 {
  color: var(--color-bg);
}
.deleteConfirmation div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.deleteConfirmation button {
  border-radius: var(--radius-xs);
  width: 20%;
  transition: var(--transition-fast);
}
.deleteConfirmation button:hover {
  opacity: 0.8;
}

.deleteAccountButton {
  width: 60%;
  background-color: var(--color-red-alert);
  color: var(--color-bg);
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition-fast);
  opacity: 0.7;
  justify-content: end;
}
.deleteAccountButton:hover {
  opacity: 1;
}

@media (max-width: 500px) {
  .row_element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .formName {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    font-size: clamp(0.5rem, 2vw, var(--font-size-xs));
    width: 100%;
  }
  .formLocation:nth-child(1) {
    width: 100%;
  }
  .formLocation:nth-child(2) {
    width: 100%;
  }
  .formLocation label {
    font-size: clamp(0.5rem, 2vw, var(--font-size-xs));
  }
  .formBirth {
    width: 100%;
  }
  #profileImgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #profileImgDiv img {
    width: 50%;
    border-radius: var(--radius-md);
  }
  #profileImgDiv div label {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: clamp(0.5rem, 2vw, var(--font-size-xs));
    text-align: center;
  }
  #saveButtonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
