#myEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.backgroundMyEvents {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100svh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  isolation: isolate;
}

.backgroundMyEvents::before {
  content: '';
  position: absolute;
  inset: -10px;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  transform: scale(1.05);
  z-index: -1;
}

#logoMyEventsDiv {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 40%;
  top: 20svh;
  padding: 20px 10px;

  pointer-events: auto;
}

#logoMyEventsDiv img {
  width: 30%;
  margin-bottom: 30px;
  opacity: 1;
}

#articleMyEvents {
  position: relative;
  width: var(--width-standard);
  top: 50svh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background-color: var(--color-bg);
  z-index: 1;
}

#myEventsDiv {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

#myEventsDiv h2 {
  width: 100%;
  border-bottom: 1px solid var(--color-separator);
  padding-bottom: 15px;
}

#myEventsList {
  margin: 40px 0 15px 0;
}

#myEventsList li {
  margin-bottom: 20px;
}
