#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.background {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100svh;
  background: linear-gradient(rgb(15, 15, 15), rgb(66, 66, 66));
}
#logoProfileDiv {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 40%;
  top: 20svh;
  padding: 20px 10px;
  z-index: 1;
  pointer-events: auto;
}
#logoProfileDiv img {
  width: 30%;
  margin-bottom: 30px;
  opacity: 0.6;
}
#articleProfileInfo {
  position: relative;
  width: var(--width-standard);
  top: 50svh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background-color: var(--color-bg);
  z-index: 1;
}
#updInfoForm {
  width: var(--width-standard);
}

#accountHeader {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-separator);
  gap: 0;
}
#accountHeader h3 {
  text-align: start;
  font-size: clamp(1rem, 6vw, var(--font-size-md));
  width: 100%;
}

#accountInfo {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

#accountInfo input {
  height: 40px;
  padding-left: 10px;
  border: 0.5px solid var(--color-separator);
  border-radius: var(--radius-xs);
}
#accountInfo select {
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: var(--radius-xs);
}
.row_element {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.formName {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 30%;
}

.formName label {
  width: 100%;
  margin-bottom: 10px;
}

.row_element:nth-child(2) {
  justify-content: space-between;
  gap: 0;
}

.nickName {
  width: 100%;
}
.formLocation:nth-child(1) {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 30%;
}
.formLocation:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 65%;
}

.formLocation label {
  width: 100%;
  margin-bottom: 10px;
}

.formEmail {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
}
.formEmail label {
  width: 100%;
  margin-bottom: 10px;
}

.formBirth {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 40%;
}

.formBirth label {
  width: 100%;
  margin-bottom: 10px;
}
.formGender {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  width: 40%;
}
.formGender label {
  width: 100%;
  margin-bottom: 10px;
}

#profileImgDiv {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid var(--color-separator);
  border-bottom: 1px solid var(--color-separator);
  justify-content: start;
}
#profileImgDiv img {
  width: 30%;
  border-radius: var(--radius-md);
}
#profileImgDiv div {
  width: 100%;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}
#profileImgDiv div label {
  width: 100%;
  margin-bottom: 20px;
}

#profileImgDiv div input {
  display: flex;
}
#profileImgDiv div input[type='file']::file-selector-button {
  background-color: var(--color-nav);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition-fast);
  opacity: 0.5;
}

#profileImgDiv div input[type='file']::file-selector-button:hover {
  background-color: var(--color-nav);
  opacity: 1;
}

#saveButtonDiv {
  width: 100%;
  display: flex;
  justify-content: end;
}
#saveChangesButton {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition-fast);
  opacity: 0.7;
  justify-content: end;
}
#saveChangesButton:hover {
  background-color: var(--color-primary);
  opacity: 1;
}

@media (max-width: 500px) {
  .row_element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .formName {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    font-size: clamp(0.5rem, 2vw, var(--font-size-xs));
    width: 100%;
  }
  .formLocation:nth-child(1) {
    width: 100%;
  }
  .formLocation:nth-child(2) {
    width: 100%;
  }
  .formLocation label {
    font-size: clamp(0.5rem, 2vw, var(--font-size-xs));
  }
  .formBirth {
    width: 100%;
  }
  #profileImgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #profileImgDiv img {
    width: 50%;
    border-radius: var(--radius-md);
  }
  #profileImgDiv div label {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: clamp(0.5rem, 2vw, var(--font-size-xs));
    text-align: center;
  }
  #saveButtonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
